:root{                        /*targets the root tag <html>,used to define global css variable accessible anywhere*/
  --primary-bg: #0f1724;
  --secondary-bg: #111827;
  --card-bg: #1f2937;
  --accent: #22D3EE;
  --text: #E5E7EB;
  --subtle: #9CA3AF;
  --gold: #FFC700;
  --radius: 20px;
}

/*adds padding and border size to elements total width/height,now padding and border will be affected if height or width is setted*/
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html,body{
  height:100%;
}

body{
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background: var(--primary-bg);
  color: var(--text);
  line-height:1.6;                      /*line spacing*/
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

header{
  position:fixed;        /*makes the navbar in header fixed when scrolling*/
  top:0;                
  width:100%;
  background: rgba(8,10,16,0.75);
  backdrop-filter: blur(8px);
  border-bottom:1px solid rgba(255,255,255,0.03);
  z-index:1000;
}
nav{                                           /*targets logo and navlinks inside nav tag*/
  max-width:1400px;                          /*dont let it stretch too wide */
  margin:0 auto;                            /* Center the navbar by making left/right auto */
  padding:1rem 2rem;                       /*spacing inside the navbar */
  display:flex;                            
  justify-content:space-between;         /*equal space between contents in navbar*/
  align-items:center;                  /*centers each item in navbar vertically*/
}
.logo{                                  /*website logo*/
  text-decoration: none;             /*removes underline from link*/
  font-size:1.9rem;                 /*rem is relative to root font size that is usually 16px which means 1.9*16=30.4px*/
  font-weight:800;                  /*boldness*/
  color:var(--accent);
  text-shadow:0 0 8px rgba(34,211,238,0.15);
}
.nav-links {
  display:flex;
  align-items:center;
  gap:1rem;
}

.nav-links a{               /*target the <a> link tags inside nav links class*/
  color:var(--text);
  text-decoration:none;
  margin-left:1rem;
  font-weight:500;
  transition:color .2s;    /*changes color of links in 0.2 seconds */
}
.nav-links a:hover, .nav-links a.active {    /*changes color of links when hovered or active*/
  color:var(--accent);
}  

.search-bar{
  padding:.6rem 1rem;                 
  background:var(--card-bg);
  border:1px solid rgba(255,255,255,0.03);
  border-radius:8px;
  color:var(--text);
  width:240px;
}
/*focus means when search bar is selected*/
.search-bar:focus {
  outline:none;
  box-shadow:0 6px 18px rgba(34,211,238,0.08);
  border-color:var(--accent);
}

main {
  margin-top:60px;
  padding:2rem;
  max-width:1400px;
  margin-left:auto;
  margin-right:auto;
}

/*home page*/
.hero{
  position: relative;
  height:70vh;          /*70% of browser visible screen*/
  min-height:550px;   
  display:flex;         
  align-items:center;                   /*vertically centers everyting inside the hero flex box*/
  justify-content:center;              /*horizontally centers everyting inside the hero flex box*/
  text-align:center;                   /*centers the text inside hero*/
  border-radius:50px 50px 50px 50px;   
  margin-bottom:3.5rem;
  box-shadow:0 18px 40px rgba(0,0,0,0.6);
  background:linear-gradient(rgba(8,10,16,0.78), rgba(8,10,16,0.88)),url('red2.jpg') center/cover no-repeat;  /*cover no repeat makes the background image cover the whole hero area without repeating*/
  }

.hero-logo {
  position: relative;
  max-width: 485px;
  margin-bottom: 1rem;
}

.hero-content {
  max-width:900px;
  padding:0 1rem;
}

.hero-content p{
  color: #D1D5DB;
  font-size:1.6rem;
  margin:1.2rem auto 2rem;
  max-width:820px;
}

.btn{
  background:var(--accent);
  color:#071018;
  padding:1rem 2.4rem;
  border-radius:12px;
  border:none;
  font-weight:700;
  cursor:pointer;                         /*changes cursor to hand shape on hover*/
  box-shadow:0 8px 25px rgba(34,211,238,0.18);
  transition:transform .18s; /*every animation will take 0.18 seconds,*/
}

/*translateY(-4px) moves the button 4px upwards on hover*/
.btn:hover {
  transform:translateY(-4px);
  background:rgba(137, 26, 25, 0.871);
  box-shadow:0 12px 30px rgba(93, 18, 18, 0.915);
  color:white;
}

.next{
  position: relative;
  left:44%;
  width:159px;
  background:var(--accent);
  color:#071018;
  padding:1rem 2.4rem;
  border-radius:20px;
  border:none;
  font-weight:700;
  cursor:pointer;
  box-shadow:0 8px 25px rgba(34,211,238,0.18);
  transition:transform .18s;
}
.next:hover {
  transform:translateY(-4px);
  background:rgba(24, 137, 213, 0.968);
  box-shadow:0 12px 30px rgba(24, 137, 213,0.35);
}

.section-title {
  text-align:center;
  font-size:2.6rem;
  margin:2.5rem 0;
  color:var(--accent);
}

.review-grid{       /*position of review card inside review grid*/
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
/*repeat() avoids writing the same column size again and again.
auto-fit automatically calculates how many columns can fit in one row based on screen width.
minmax() sets the minimum and maximum width of each column.
1fr(fraction unit) means each column takes an equal share of the available space.*/
  gap:1.6rem;               /*grid property that adds spacing between grid items*/
  margin-bottom:3.5rem;
}

.review-card{                            /*styling of each review card*/
  background:var(--card-bg);
  border-radius:16px;
  overflow:hidden;                          /*hides any content that overflows the border radius*/
  transition:all .25s;                     /*any transition effect will take 0.25 sec*/
  border:1px solid transparent;
  display:block;color:inherit;text-decoration:none;  /*block element starts on new line and takes full width,inherit makes the link take the color of parent element*/
}

.review-card:hover {
  transform:translateY(-20px);
  box-shadow:0 20px 40px rgba(34,211,238,0.12);
  border-color:rgba(34,211,238,0.07);
}

.review-card img {
  width:100%;
  height:220px;
  object-fit:cover;    /*object-fit:cover makes sure the image covers the entire area without distortion*/
} 

.card-content {
  padding:1.2rem;           /*spacing between card content and edges of card*/
}  

.card-content h3 {
  font-size:1.2rem;
  margin-bottom:.45rem;
  color:var(--accent);
} 

.stars {
  color:var(--gold);
  font-size:1.2rem;
  margin:.6rem 0;
}

/*inline-block makes the badge take only the width it needs instead of full width*/
.badge {
  display:inline-block;
  background:rgba(34,211,238,0.12);
  color:var(--accent);
  padding:.35rem .7rem;
  border-radius:999px;
  font-size:.85rem;
  margin:.35rem .35rem 0 0;
}

footer {
  text-align:center;
  padding:3rem;
  background:#071018;
  color:var(--subtle);
  margin-top:3rem;
}

/* Review article */
.container {
  padding-top:1rem;
  padding-bottom:3rem   /*spcaing above and below the review article on the game review page*/
}   

.review-article {          /*targets the front rectangle block on the game review page*/
  max-width:900px;margin:0 auto;background:linear-gradient(180deg, rgba(216, 0, 0, 0.01), rgba(255,255,255,0.02));
  border-radius:20px;overflow:hidden;box-shadow:0 12px 40px rgba(0,0,0,0.6);
  border:1px solid rgba(255,255,255,0.02);
}

.article-hero {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.article-body {
  padding: 2.5rem;  /* inside spacing between content in the article and its edges */
} 

.article-title {
  font-size: 3rem;
  color: var(--accent);
  margin-bottom: .5rem;
}

.meta {
  color: var(--subtle);
  margin-bottom: 1rem;
}

.stars.large {
  font-size: 2.2rem;
  color: var(--gold);
  margin: 1rem 0;
}

.score-note {
  font-size: 1rem;
  color: var(--accent);
  margin-left: .8rem;
}

.quick-verdict {
  margin: 1.2rem 0;
  padding: 1.2rem;
  background: #0f1728;
  border-left: 6px solid var(--accent);
  border-radius: 12px;
  color: #dfefff;
}

.pros-cons {
  color: #ddd;
  margin-left: 1.2rem;
  line-height: 1.8;
}

.final-score {
  margin: 2rem 0;
  padding: 1.8rem;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    var(--accent),
    #e55a2b
  );
  color: #fff;
  text-align: center;
}

.byline {
  text-align: center;
  color: var(--subtle);
  margin-top: 1.8rem;
}



.filter-controls {
  display: flex;                 /*we can apply flex properties to its children in the dropdown*/
  justify-content: center;
  flex-wrap: wrap;            /*if screen is small,items will wrap to next line*/
  gap: 1rem;
  margin: 2rem 0 3rem;
}

.dropdown {
  position: relative;       /*items inside dropdown menu will be popsitioned relative to this dropdown container*/
}

.fake-select {          /*already selected option in filter*/
  min-width: 220px;
  padding: 0.9rem 1.4rem;
  background: var(--card-bg);
  color: var(--text);
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  transition: border 0.2s;
}

.fake-select:hover {
  border-color: var(--accent);
}

.dropdown-menu {
  position: absolute;   /*removes the dropdown menu from normal document flow so it can overlap other content*/
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 6px;
  background: var(--card-bg);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 12px;
  list-style: none;            /*removes bullets from list*/
  overflow: hidden;           /*hides any overflowing content*/
  opacity: 0;                  /*makes the menu invisible initially*/
  pointer-events: none;       /*disables any mouse interaction with the menu when its invisible*/
  transform: translateY(-5px); /*slightly moves the menu upwards initially for animation effect*/
  transition: 0.2s; 
  z-index: 10;
}

.dropdown-menu li {                /*targets each list item inside dropdown menu*/
  padding: 0.8rem 1.2rem;
  color: var(--text);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: rgba(255, 255, 255, 0.05);
}

.dropdown:focus-within .dropdown-menu {          /*when dropdown or any of its children are focused*/
  opacity: 1;                               /*makes the menu visible when dropdown is focused*/
  pointer-events: auto;
  transform: translateY(0);             /*resets the menu position to its original place*/
}

/* Contact */
.contact-main {
  max-width:700px;
  margin:3.5rem auto;
  padding:0 1rem;
}

.suggest-form {
  background:var(--card-bg);
  padding:1.6rem;
  border-radius:15px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.suggest-form input,.suggest-form textarea {      /*targets both input and textarea inside suggest form*/
  width:100%;
  padding:1rem;
  border-radius:10px;
  border:3px solid rgba(255, 255, 255, 0.216);
  background:#0f141a;
  color:var(--text);
  resize:vertical;        /*user can resize the textarea of textarea vertically*/
  font-family:inherit;
}

.suggest-form button {
  width:40%;
  padding:1.1rem;
  border-radius:10px;
  border:none;
  font-weight:700;
  cursor:pointer;
}

/* About */
.about-main {
  text-align:center;
  padding:4rem 1rem;
}

.about-lead {
  font-size:1.3rem;
  max-width:800px;
  margin:1.2rem auto;
  color:#ccc;
}

.about-text {
  color:var(--subtle);
  line-height:1.8;
  margin-top:1rem;
}

.about-credits {
  margin-top:2rem;
  color:var(--accent);
  font-size:1.05rem;
}

/* Utilities */
.content-center {         /*targets the top 10 list div*/
  max-width:900px;
  margin:0 auto;
}

.top-list {             /*targets the top 10 list tag and its items inside it*/
  font-size:1.15rem;
  line-height:2.2;
  color:#ccc;
  padding-left:1.1rem;
}

/* YOUR MOBILE STYLES */
@media (max-width: 480px) {
  body {
    padding-top: 90px;
  }
  /* NAVBAR */
  nav {
    padding: 0.8rem 1rem;
    flex-direction: column;
    align-items: flex-start;      /*aligns items to the left*/
    gap: 0.8rem;
  }

  .nav-links {
    width: 100%;
    justify-content: center;       /*centers the nav links vertically*/
    flex-wrap: wrap;
    gap: 0.6rem;
  }

  .nav-links a {
    margin-left: 0.4rem;
    font-size: 0.9rem;
  }

  .search-bar {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem 0.8rem;
  }

  /* HERO */
  .hero {
    height: 58vh;
    min-height: 420px;
    border-radius: 25px;
    padding: 1rem;
  }

  .hero-logo {
    max-width: 260px;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1rem;
    max-width: 90%;
  }

  /* BUTTON */
  .btn {
    padding: 0.8rem 1.6rem;
    font-size: 0.95rem;
  }

  /* REVIEWS */
  .review-grid {
    grid-template-columns: 1fr;
  }

  .review-card img {
    height: 180px;
  }

  /* ARTICLES */
  .article-hero {
    height: 180px;
  }

  .article-body {
    padding: 1.2rem;
  }

  .article-title {
    font-size: 2rem;
  }

  .stars.large {
    font-size: 1.4rem;
  }

  /* CONTACT */
  .contact-main {
    padding: 0 0.5rem;
  }
}
